<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body class="container homebg">
    <header>
      <% include ./partials/navigation %>
    </header>
    <h1>Welcome to <%= title %></h1>
  </body>
</html>
